<!DOCTYPE html>
<html>
<head>
  <title>Hello!</title>
</head>
<body>
  <h1>Post confirmed</h1>
  <p><%= @article_name %> has been posted!</p>
  <p><a href="/articles/new">Post another!</a></p>
  <p><a href="/articles">See All!</a></p>
</body>
</html>
