<!DOCTYPE html>
<html>
<head>
  <title>ERROR</title>
</head>
<body>
  <h1>ERROR</h1>
  <h3>POST DUPLICATED</h3>
  <p>Someone already submitted this post</p>
  <p><a href="javascript:history.back()">TRY AGAIN!</a></p>
</body>
</html>
